*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ededed;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 2% 0;
}

.container a{
    font-weight: 500;
    margin-right: 20px;
    background-color: white;
    color: rgb(255, 85, 0);
    padding-bottom: 2%;
}

.container a:hover{
    border-bottom: 2px solid rgb(255, 85, 0);
}

.text{
    margin-top: 2%;
    font-size: x-large;
    font-weight: 600;
}

